<div class="well">
    <label class="control-label">Articles Manager</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="checked"> Show market news
        </label>
    </div>
    <P>
        <div class="input-group">
            <input type="text" class="form-control" id="tag-tickers" placeholder="Stock tickers" />
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Filter</button>
      </span>
        </div>
    </P>
    <p>
        <button type="button" class="btn btn-primary" ng-model="isCreate" ng-init="isCreate=true" ng-click="open(true)">Create New Article</button>
    </p>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <span ng-if="isCreate" class="size-label">
            <h3 class="modal-title">Create new article</h3>
            </span>
            <span ng-if="!isCreate" class="size-label">
            <h3 class="modal-title">Edit article</h3>
            </span>
        </div>
        <div class="modal-body">
            <form>
                <div>
                    <p>Title</p>
                    <p>
                        <input type="text" class="form-control" ng-model="data.title" placeholder="insert title">
                    </p>
                    <p>Main content</p>
                    <p>
                        <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="data.content" enable-bootstrap-title="true" textarea-menu="menu" disabled="disabled">
                        </wysiwyg>
                    </p>
                    <p>Tag</p>
                    <p>
                        <input type="text" class="form-control" ng-model="data.tag" placeholder="insert tag">
                    </p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
<div class="well">
    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                    </th>
                    <th>Title</th>
                    <th>Day</th>
                    <th>Tag</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="active" ng-repeat="x in articlesList">
                    <td>
                        <input type="checkbox" ng-model="item.Selected" />
                    </td>
                    <td class="active">{{x.title}}</td>
                    <td class="active">{{x.day}}</td>
                    <td class="active">{{x.tag}}</td>
                    <td>
                        <a class="btn btn-default" type="button" ng-click="edit()">
                            <span class="text-info"><i class="glyphicon glyphicon-edit" /> Edit</span>
                        </a>
                        <a class="btn btn-default" type="button">
                            <span class="text-danger"><i class="glyphicon glyphicon-trash" /> Delete</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
