<p>
    <div class="well">
        <label class="control-label">Import Signal data file</label>
        <input type="file" ngf-select ng-model="dataFile" name="file" />
        <div ng-if="latestUpdate">
            <em>Data updated on: <span class="label label-info">{{latestUpdate | date:'dd/MM/yyyy'}}</span></em>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="upload()">Upload</button>
</p>
<p>
    <div class="well">
        <label class="control-label">Import Eod data file</label>
        <input type="file" ngf-select ng-model="dataEodFile" name="file" />
        <div ng-if="latestUpdate">
            <em>Data updated on: <span class="label label-info">{{latestUpdate | date:'dd/MM/yyyy'}}</span></em>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="uploadEod()">Upload</button>
</p>
